############################
# SQLite
############################

.tmp
.cache

############################
# Logs and databases
############################

.tmp
*.log
*.sqlite
*.sqlite3

############################
# Misc.
############################

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

############################
# Env
############################

.env
.env.*
!.env.example

############################
# Build
############################

dist
build

############################
# TypeScript
############################

*.tsbuildinfo
